[2020-02-18 15:13] niconoe opened #1 "Deploy (+procedure) on GitHub pages"

[2020-02-19 09:29] #1 closed, assigned to niconoe

[2020-02-19 09:31] niconoe opened #2 "Implement scale"
0-1, description given by Amy at https://github.com/trias-project/risk-modelling-and-mapping/issues/7

[2020-02-19 09:33] niconoe opened #3 "Clarify requirements"
(will plan a meeting soon for this)

- [ ] Allow species selection (GBIF taxon key in filename?)
- [ ] Allow to select a risk map type (multiple files per taxon)
- [ ] Improve visuals: color scale, allow to change transparency, ...
- [ ] Create a basic layout (Bootstrap-based?)
- [ ] ...

[2020-03-10 13:21] niconoe opened #4 "Overlays"
Issue created to collect the overlays we want to be able to show along the risk maps.

Note: If possible, all shown data should be INSPIRE-compliant.

Themes:

- N2000
- Cities
- Rivers
- Ecoregions
- Belgian regions

Related technical question: how to show them in client only webapp: convet to GeoJSON? Possibility to show shapefiles? Should we reproject those prior?

[2020-03-10 13:22] niconoe commented on #3
After first meeting update: that's basically it, at least for now. See description in milestone 1.

[2020-03-10 13:24] niconoe opened #5 "Make sure the system is reusable/can be embedded in Julien's future developments"
@silenius: here is in a nutshell the envisioned development. Since the idea is that this work is at a later step embedded in a larger development you'll made for TriAS, I wanted to make sure the approach I take suits you. The plan at this stage is:

- A simple (if possible frontend-only) app that display the content of GeoTiff files over a Leaflet map of Belgium. There will be some usual overlays

[2020-03-10 13:25] niconoe opened #6 "Species list / select component"
Load data from GBIF's checklist? Or from Amy's files? To be investigated.

[2020-03-13 08:01] niconoe opened #7 "Collect existing GeoTiffs"

[2020-03-13 08:06] niconoe commented on #7
@amyjsdavis: could you already send me the files that are ready? Do you have any preferred exchange medium? II admit 'm not sure of the current data volume, we'll figure out a solution.

[2020-03-13 10:00] silenius commented on #5
Hi @niconoe: hard to say as at this stage I have no clear view on what should be done for TriAS from my side, especially the interaction with the protocols and how it all fits. I would say that if I can import a Vue component in the future webapp it should be OK ..

[2020-03-13 10:05] niconoe commented on #5
Cool, that was my understanding too. Obviously there are many uncertainties and the "reuse code as it was lego parts" is often a bit naïve, but at least we have the less worst approach :)

[2020-03-13 11:12] amyjsdavis commented on #7
@niconoe: Hi Nico: I realized the filies are still in the "wonky" projection.I am fixing the code now.  Is ETRS  89 ok or would you rather have WGS 84 (lat/lon)?

As for the exchange medium, I can probably give you the first 10 files associated with 1 species over Github, but we probably need to figure something else out. I don't have any brilliant ideas other than dropBox or google drive. Suggest

[2020-03-13 11:17] niconoe commented on #7
Hey,

You can let them in ETRS89, I'll convert them as needed (I suppose it's more confortable for you, and I'll made the process automatic, so it won't be tedious for me).

Google drive / Dropbox seems good for this, I'll create a folder somewhere and send you the link by e-mail!

[2020-03-13 11:20] niconoe commented on #7
You should now have received a Google Drive invitation to a folder!

[2020-03-13 11:21] amyjsdavis commented on #7
Ok! perfect! Let me know if you change your mind about ETRS 89.

[2020-03-24 14:04] #5 closed, assigned to niconoe

[2020-03-25 13:24] niconoe commented on #6
For the moment, I suggest to configure the app from Amy's files.

[2020-03-25 13:24] #6 closed, assigned to niconoe

[2020-03-25 13:26] niconoe opened #9 "Script to update/configure the app from GeoTiffs"
Let's write a script that parse a directory containing Amy's generated files and:

- copy them (converted to EPSG4326, to feed the webapp)
- write some JSON configuration file for the selection form (species name, GBIF IDs, ...)

[2020-03-27 09:29] niconoe opened #10 "Styling"
@peterdesmet : at a later stage, will you be available to make the web app looks better?

It will stay pretty small, and the toolbox is the same than Crow.

[2020-03-27 09:36] peterdesmet commented on #10
Yes, let me know when you think it is necessary.

[2020-03-31 13:17] niconoe commented on #4
Update: basic mechanism in place to show overlays

[2020-03-31 13:17] niconoe opened #11 "Overlays: add interactivity and/or legend"
Take inspiration from https://leafletjs.com/examples/choropleth/ ?

[2020-04-03 07:28] niconoe commented on #11
Update: first iteration online, waiting for feedback before going much further.

[2020-04-03 11:40] peterdesmet opened #12 "Add legend for colour scale"
<img width="725" alt="Screenshot 2020-04-03 at 13 39 51" src="https://user-images.githubusercontent.com/600993/78356827-9ef87b80-75b0-11ea-86ee-f19d3409ce55.png">

It is unclear what those colours represent. A legend should be added, with a unit and values.

[2020-04-03 11:42] peterdesmet opened #13 "Start with a default"
I think would be nice if the application started with a loaded example, e.g. the first value from each dropdown (excluding "Ecoregions"), rather than:

<img width="303" alt="Screenshot 2020-04-03 at 13 42 08" src="https://user-images.githubusercontent.com/600993/78356999-ee3eac00-75b0-11ea-8c1f-1c0ac6241e90.png">

[2020-04-03 11:46] peterdesmet opened #14 "Style overlays"
<img width="856" alt="Screenshot 2020-04-03 at 13 43 32" src="https://user-images.githubusercontent.com/600993/78357260-66a56d00-75b1-11ea-820d-92f678e6f1ff.png">

It's currently probably still a test, but the styling of the overlays can be improved:

- Red highlight: good that it is transparent, would use other colour, e.g. TrIAS orange: `#DC571D`
- Borders: use full lines, not dotted
- Borders:

[2020-04-03 12:00] peterdesmet opened #15 "Select all elements of overlay element of one type"
When selecting an area, all areas of that type should be highlighted, so it is clear that these are of the same type. E.g. three areas for polder, while currently only one is highlighted:

<img width="403" alt="Screenshot 2020-04-03 at 13 58 18" src="https://user-images.githubusercontent.com/600993/78358322-4aa2cb00-75b3-11ea-8702-b499fd3b2292.png">

[2020-04-03 12:00] peterdesmet commented on #15
Note: when clicking an element, the zoom should also bound all three elements, rather than one.

[2020-04-03 12:14] peterdesmet opened #16 "Show list of elements of an overlay + add bi-directional interaction"
It took me a while to notice that the name of the hovered overlay was shown on the right. It also disappears right away if you hover away. I think this could be improved by:

1. Showing all elements of an overlay on the side
2. Highlighting the element when it is hovered on the map **and vice versa**
3. Highlighting the element when it is clicked on the map **and vice versa**
4. Clicking an elemen

[2020-04-07 09:02] SoVDH opened #17 "Correct names of biogeographic districts (ecoregions) + missing ones"
I don't know where you got them from, but the names of biogeographic districts (ecoregions) are not complete in Wallonia and do not refer to what is commonly used as far as I know.
- Condroz
- Fagne-Famenne-Calestienne
- Thiérache
- Ardenne
- Gaume et Lorraine

Also, Maybe worth having both FR and NL names for the users?

<img width="1280" alt="Capture d’écran 2020-04-07 à 10 54 34" src="https://u

[2020-04-07 09:04] SoVDH commented on #16
Same for the two entities of Fagnes-Famenne-Calestienne

[2020-04-07 09:05] SoVDH opened #18 "Include the color-legend for each map."

[2020-04-07 09:08] SoVDH opened #19 "Background layer"
I'm not a big fan of the background layer. What is available? It is mainly cities and rivers that are interesting. Not really roads in my opinion.

[2020-04-07 09:11] SoVDH opened #20 "Add Atlantic vs Continental"
Would it be possible to add as overlay the simple 'atlantic' vs 'continental domain' ? These are basic unit used for risk analysis and users will need them anyway.

[2020-04-07 12:09] #3 closed, assigned to niconoe

[2020-04-07 12:10] niconoe commented on #12
Indeed, will do after implementing the proper color scale (#2).

[2020-04-07 12:11] #11 closed, assigned to nobody

[2020-04-07 12:12] niconoe commented on #13
Yeah, will do!

[2020-04-07 12:14] niconoe commented on #16
@peterdesmet : love the idea, will do that!

@SoVDH : does your comment applies to #15 instead?

[2020-04-07 12:16] SoVDH commented on #16
Indeed, sorry for that ;-)

[2020-04-07 12:17] niconoe commented on #17
No problem for me, it's always a messy process to get/assemble/hack the right file for such things (if you have good ones in a GIS format, please send it to me!). Is the one from your second screenshot correct? Then I can ask Julien for the file. No problem for the three languages, I'll just need someone to give me a table with the names in each languages.

[2020-04-07 12:20] niconoe commented on #18
Hi @SoVDH : do you mean for Amy's GeoTiffs (then I think it's a duplicate of #12)? Or for the overlays (in that case, the suggestion in #16 might works)?

[2020-04-07 12:22] niconoe commented on #19
Thanks, I'll look for alternatives. We might be limited if we don't setup our own map server (we'd like to avoid that) or use a paid service such as Mapbox. We might be able to hack something by combining a very light background with a river overlay, for example. I'll be back to you for this!

[2020-04-07 12:24] niconoe commented on #20
Is this a simple layer with two polygons (Atlantic and Continental)? If so:

- Do you know where I can find such a file (in a GIS-compatible format)?
- Would the logic described by Peter in #16 also works for this layer?

[2020-04-07 12:52] #14 closed, assigned to nobody

[2020-04-07 12:58] #13 closed, assigned to nobody

[2020-04-07 14:04] niconoe commented on #19
More work is probably needed, but as a first step I changed the background layer style to [HOT OSM](https://www.hotosm.org/). It's visually lighter and gives a bit more visibility to green areas and water.

[2020-04-08 08:17] peterdesmet commented on #19
Nice!

[2020-04-08 14:31] niconoe commented on #2
Update now implemented a color scale that's closer to Amy's suggestion. Opinions about it?

[2020-04-08 14:32] niconoe commented on #12
Update: There's now a basic legend, comments welcome!

[2020-04-09 08:20] peterdesmet commented on #12
Nice, but the unit is not indicated. 😄

[2020-04-09 08:23] peterdesmet commented on #16
Come to think of it, listing the elements on the side will give too much attention to the overlay (and take up a lot of space). Instead, I propose to show the selected element (current implementation) on hover **and click**, but also step 4 of the issue above, so it doesn't go away so fast.

[2020-04-09 11:38] niconoe commented on #12
Indeed!

@amyjsdavis, what unit should I show? I understand 0 means "no risk at all" and 100 means 100% certainty, would it be better for end-users if we multiply the value by 100 and present them as percent?

@soVDH, maybe you also have an opinion on this?

[2020-04-09 11:44] niconoe commented on #2
@amyjsdavis: I now implemented a different color scale, do you have an opinion about it?

![Screenshot 2020-04-09 at 13 41 01](https://user-images.githubusercontent.com/386387/78891465-e5921e00-7a67-11ea-80f0-1e0828d571a7.png)

For info, I can very easily configure any of the color schemes presented at: https://github.com/d3/d3-scale-chromatic

I can obviously also implement something custom, we'l

[2020-04-09 12:06] amyjsdavis commented on #12
@niconoe : yes you are interpreting risk correctly, although in reality there are rarely places that are 0 or 100% risk.  Hmm, the convention is show the scale on 0-1, or using the lowest and highest risk as the scale bounds (ie. .005 and .995), but perhaps using percents is more intuitive. I will default to the wisdom of @SoVDH.

[2020-04-09 12:10] amyjsdavis commented on #2
This is the typical scale used for a lot of heat maps and the one I prefer,
because it is intuitive with red  typically representing "hot" or "high"
and blue representing cold or low. Perhaps you accidentally reversed the
places of 0 and 1? For the species I have sent so far, Flanders has been
more at risk then Wallonia.

On Thu, Apr 9, 2020 at 1:45 PM Nicolas Noé <notifications@github.com> wrote:

[2020-04-09 14:21] qgroom commented on #2
This is the first thing I thought too.

[2020-04-10 08:06] #9 closed, assigned to niconoe

[2020-04-10 09:29] niconoe commented on #2
Thanks @amyjsdavis abd @qgroom !

I now configured [this color ramp](https://github.com/d3/d3-scale-chromatic#interpolateTurbo),  which looks closer to yours (and is reversed: red for high risk is indeed much more clear).

Can you have a look at https://trias-project.github.io/risk-maps/ and tell me what you think?

[2020-04-10 09:36] qgroom commented on #2
It looks great, but I do have a couple of queries...
It is a bit odd having 1 at the bottom of the scale legend
I'm not really clear on the confidence. Does 1 mean we have high confidence in the prediction? I assume so. In that case we perhaps want the colour ramp the opposite way around to the risk map itself.

[2020-04-15 07:04] SoVDH commented on #12
I would suggest showing a range from (0-no risk) to (1 high-risk) for risk maps and (0-low uncertainty) to (1-high uncertainty) for uncertainty maps. Percentage are perceived and interpreted differently from a user to another. Risk communication literature suggests to avoid the use of percentage because if refers to relative risks.
Does this sounds ok to you @amyjsdavis ?

[2020-04-15 07:35] amyjsdavis commented on #12
@SoVDH : that makes sense and is fine by me!

[2020-04-21 14:22] niconoe commented on #2
Thanks @qgroom, I now updated the legend so "1" is indeed on top. I guess that's a step in the right direction!

[2020-04-27 08:59] amyjsdavis commented on #2
@niconoe : It looks great!

[2020-05-12 15:35] timadriaens commented on #17
English names [here](https://github.com/trias-project/risk-modelling-and-mapping/issues/5)

[2020-06-01 12:22] timadriaens opened #21 "provide option to plot actual (realized) distribution on map"
Hi, think it would be useful to give users the option to plot the actual distribution (from the cube of from gbif directly), so they can explore to what extent potential area in Belgium has already been invaded. Need to think about proper date cut-offs (e.g. from 2000), type of data to use (human observations or other).

[2020-06-02 07:52] niconoe commented on #21
@timadriaens: yep, I can see the usefulness of this!

I can see two approaches:

- Directly and dynamically asks GBIF to generate the tiles for use via their [maps API](https://www.gbif.org/developer/maps), and add the ability to display such overlays to our maps.
- Write some scripts to transform the data cube (and/or additional data) to a "current distribution" GeoTiff that can be shown via the

[2020-06-02 08:52] peterdesmet commented on #21
I would definitely try the GBIF maps API first. The fact that it is GBIF data only is not a problem, the fact that it isn't processed to a gridded cube might (but it can show more detail). I therefore suggest to create a quick test and have @timadriaens and @soVDH see if that meets the demand.

[2020-06-02 10:54] timadriaens commented on #21
Indeed me too I prefer to plot the real xy data from gbif rather than the "squarified" ones, this will also be clearer distinction between the gridded risk maps and the real observations. I am in favour of using a dot.

@niconoe Selection criteria: BasisofRecord = human observation mostly (excluding records with geospatial issues), but probably you can simply use the code for the indicators discus

[2020-06-04 08:44] niconoe commented on #21
I've now implemented a first version of this feature, visible [here](https://trias-project.github.io/risk-maps/) as usual.

I've taken the simplest approach discussed above (make GBIF render maps for us!). I therefore had to live with some limitations both in terms of data selection and visual rendering and diverge slightly from what was discussed before:

### In terms of selection criteria:

(@ti

[2020-06-04 08:49] timadriaens commented on #21
Looking great, but it would be more handy if we could visualize those _superimposed_ on the risk map. Do you think this is possible?

[2020-06-04 09:08] SoVDH commented on #21
This is GREAT ! Regarding Tim's comment here above, I would even suggest to be able to choose 'risk map' or 'realized distribution' or 'superimposed'
Thanks a lot for this Nico. This is a great achievement already :-)

[2020-06-04 10:20] niconoe commented on #21
@timadriaens and @SoVDH : I made a few quick tests previously and the result was quite visually messy and poorly readable. But I'll try again with different settings and colours and see what we can get!

[2020-06-05 08:01] niconoe commented on #2
Is everyone reasonably happy with the current implementation? If so, I suggest closing this issue (we can create new ones if specific issues arises!)

[2020-06-05 08:08] amyjsdavis commented on #2
I am happy with it.

On Fri, Jun 5, 2020 at 10:01 AM Nicolas Noé <notifications@github.com>
wrote:

--
Dr. Amy J.S. Davis
Data-driven solutions to invasive species and biodiversity conservation

Terrestrial Ecology Unit
Department of Biology
Ghent University
K. L. Ledeganckstraat 35
B-9000 Ghent
Belgium
http://amyjsdavis.com

[2020-06-05 10:25] niconoe commented on #21
@timadriaens and @SoVDH: I implemented Sonia's suggestion and tweaked a few things (colours, how the opacity settings work, ...) and I think we have reached something decent.

Can you have a look?

[2020-06-05 12:01] SoVDH commented on #21
Yes ! Giving the choice between the 3 visualizations is indeed a good idea and by playing on the opacity, it's very readable I find. Merci Nico, c'est très chouette :-)

[2020-06-08 11:05] peterdesmet opened #22 "Map overlaps with control on smaller screens"
This hides the controls on smaller screens:

<img width="1011" alt="Screenshot 2020-06-08 at 13 03 56" src="https://user-images.githubusercontent.com/600993/84023594-a8bfa600-a988-11ea-8654-04836a1f8528.png">

[2020-06-08 11:17] peterdesmet commented on #21
Nice work! Noticed an error (surimposed rather than superimposed) in the labels, and would rename them to:

- Modelled data
- Occurrence data
- Both

I'm not sure we should use "realized distribution", because there might be more distribution than there is occurrence data. I think it is fine to not mention GBIF in the label name, as we'll need to explain anyway that the modelled and occurrence dat

[2020-06-08 11:17] peterdesmet commented on #21
Also, why is the modelled data still showing when I select "Occurrence data"?

[2020-06-09 08:25] niconoe commented on #21
Thanks @peterdesmet: I fixed a couple of bugs in the display logic and updated the labels, I think the situation is better now.

[2020-06-09 09:46] niconoe commented on #22
Thanks. Note to self: possible solution: https://codepen.io/tforward/pen/ZPeZxd

[2020-06-09 10:19] #22 closed, assigned to nobody

[2020-06-10 14:30] niconoe commented on #16
Sorry @peterdesmet, I'm not sure I still follow. Could you rephrase what will happen on hover and/or click, on the map and the list?

We can make a quick call or chat session to discuss this if easier/faster! thx

[2020-06-11 08:09] peterdesmet commented on #16
Sure!

## Hover

Keep current implementation

## Click

- [x] Same behaviour as hover, but keep area selected when moving mouse away.
- [ ] Allow to deselect an area by a) clicking it again, b) highlighting another area, c) clicking anywhere else on the map (including outside the full overlay)
- [x] Remove current zoom in behaviour

Keep current implementation/style on the side, showing only the h

[2020-06-11 09:20] niconoe commented on #21
If the current implementation seems decent to everyone, I suggest closing this issue.

[2020-06-14 17:52] qgroom commented on #21
It looks good to me

[2020-07-01 07:13] #2 closed, assigned to niconoe

[2020-07-01 13:15] amyjsdavis commented on #21
I was not aware of this thread.
The occurrence data used to make the models has been filtered to have a maximum uncertainty of 1 Km, span from 1976-2005 (to correspond to historical climate data), removes unvalidated occurrences and otherwise follows the filtering of the data cube work flow.  I  propose that we use these occurrences to overlay on the risk maps.

[2020-07-01 14:23] amyjsdavis commented on #21
Hi All: I am sorry I missed this last month. I had asked Nico (while I was unaware of this thread) to only show only the occurrence data I used to make the risk models,  because there is sometimes a big difference between the date I used and the occurrences that are shown in the risk mapping application. Now that I've read through this thread, it seems like the biggest differences in the occurrenc

[2020-07-01 14:29] amyjsdavis opened #24 "how to show occurrences on risk maps"
Hi All: I am sorry I missed this last month. I had asked Nico (while I was unaware of this thread) to only show only the occurrence data I used to make the risk models,  because there is sometimes a big difference between the date I used and the occurrences that are shown in the risk mapping application. Now that I've read through this thread, it seems like the biggest differences in the occurrenc

[2020-07-01 14:52] damianooldoni commented on #24
Hi @amyjsdavis , I gave you right now access to this repository with "maintain" rights as for all of us members of the TrIAS Core group. So from now on you can reopen issues, mention people and many other stuff.

I close this issue as I reopened the other one.

[2020-07-01 14:52] #24 closed, assigned to nobody

[2020-07-01 15:36] niconoe commented on #21
Indeed, let's continue the discussion here rather than by e-mail. My two cents:

- about which data to include, I'll let scientists answer :)
- about the webapp implementation: If I understand correctly: the way the occurrences are show and user interface should stay like it is now (same logic, styling, ...), the difference being that the data source is now @amyjsdavis's shapefiles instead of dire

[2020-07-01 15:56] timadriaens commented on #21
@amyjsdavis The idea is to give the assessor an idea about the realised niche in Belgium. I see no reason why you would show only the data you used for drafting your models. And certainly, it makes little sense to not provide a risk assessor with the last (post 2005) 15 years of data. This would in effect mean you would not show any waarnemingen.be data as that recording platform only started in 2

[2020-07-01 16:31] amyjsdavis commented on #21
@niconoe: they don't need to be shapefiles. they can be text files if it makes life easier. And sorry, I meant to rename them using the taxon key before sending.
 Also, my entire work flow is already on github with the exception of this last one where the EU occurrences were clipped to the Belgian border I did not publish this latest work flow (or data transformation) because it is still undecided

[2020-07-01 16:43] amyjsdavis commented on #21
@timadriaens : Indeed, I could see the utility of showing more recent occurrences, but not the old ones that predate the climate data. However all the data used to show the realized niche, should follow the same  filtering criteria used to make the models with the exception of the time period with the logic being if the data were not good enough to include in the model, they should not be good eno

[2020-07-01 16:58] damianooldoni commented on #21
I have just updated the occurrence cubes. :partying_face: :balloon: I still wait to upload it to Zenodo. I want to double check it after I return from holiday..
So, maybe @niconoe can use the [Belgian cube](https://github.com/trias-project/occ-cube-alien/blob/master/data/processed/be_alientaxa_cube.csv) for the visualization? It is made using verified data only and it can be easy to remove squares

[2020-07-01 17:00] amyjsdavis commented on #21
@damianooldoni : I really like this idea.

[2020-07-02 07:42] niconoe commented on #21
@timadriaens / @SoVDH / @DiederikStrubbe: do you agree the [Belgian cube](https://github.com/trias-project/occ-cube-alien/blob/master/data/processed/be_alientaxa_cube.csv) should be the source of data displayed in the map viewer?

@all: in that case, I suppose the appropriate rendering would be:

- to show the EEA grid "squares" (where we have occurrences of the selected species, after filtering p

[2020-07-02 13:00] DiederikStrubbe commented on #21
Hi all,

Apologies for my late reply to this interesting discussion. Several
ideas have already been brought up, and my interpretation and
suggestions would be

(a) Only show whether a grid has at least one occurrence. I am not sure
whether shading to indicate number of occurrences would be that useful -
it is likely to be more representative of observer bias rather than
reflecting species abundan

[2020-07-02 13:10] timadriaens commented on #21
Regarding the point (c): I wonder if it is very useful to show a risk assessor the data that were used for the model versus the data that were not used (unless you provide him/her with lots of explanation why this is so they will not understand why the model did not incorporate all). Could a simple legend showing temporal range of the occurrences not be more informative? For example, black dots fo

[2020-07-02 13:19] DiederikStrubbe commented on #21
Hi,

See below,

D

Op 2/07/2020 om 15:10 schreef Tim Adriaens:

--> I think that good be a good compromise :-)

--> not sure what this remark is referring to? Correspondence between
risk maps and temperal extent of occurrence maps?

[2020-07-02 13:21] DiederikStrubbe commented on #21
Shall I just mention that I'd be interested in participating in such a
hackaton too!

Cheers,

Diederik

Op 1/07/2020 om 17:36 schreef Nicolas Noé:

[2020-07-02 13:28] amyjsdavis commented on #21
if we can find a date for a hackathon that would be great! :-) In that case, I can go over the model with those interested and we can  work together to improve the modeling code. I am signing off for now! Ciao

[2020-07-02 15:28] qgroom commented on #21
I'd also be interested in a hackathon, as would some of the team that you usually don't meet.

BTW: You have to be cautious aggregating data in the cube across years. Due to the random assignments of observations to grid squares  it is not impossible for a single isolated tree to be assigned to more than 5 different grid cells. This is not such a problem for single years, but the risk increases as

[2020-07-02 16:36] timadriaens commented on #21
--> not sure what this remark is referring to? Correspondence between risk maps and temperal extent of occurrence maps?

No. I just mean that the distribution maps we'll show on Harmonia eventually (at least, I thought that was the idea) should not deviate from distribution maps in other TrIAS products, such as this tool to explore the risk maps. Unless of course the idea is to integrate this tool

[2020-07-07 11:49] SoVDH commented on #21
I agree with Tim about the maps produced. As much as possible, we should avoid producing a diversity of maps. We should aim for a cartographic tool that is as 'generalist' as possible and that can be used as much as possible for TrIAS and for their future integration in Harmonia or in regional portals. After talking with Nico, I understand that this wish is a bit illusory and that it is rare that

[2020-07-08 09:04] niconoe commented on #16
@peterdesmet:

I now have "almost working" code for all this, but I'm considering (temporarily?) disabling the "click" part, because after trying it, the cost/benefit ratio seems not that great in practice:

Benefits:
- Possibility for the use to keep a zone highlighted (but not sure of the practical usefulness)

Costs:
- I'm concerned that in some cases, the interactions are not that clear for th

[2020-07-08 09:27] SoVDH commented on #17
@niconoe  Perfectly fine with both English names and delineation.

[2020-07-08 09:30] SoVDH commented on #19
@niconoe Nickel! It is a nice balance between cities and natural characteristics :) Merci !

[2020-07-08 09:34] #19 closed, assigned to nobody

[2020-07-08 09:35] SoVDH commented on #20
- I have to ask colleagues at DEMNA. Maybe INBO also has these kind of shape file as it is required for N2000 reporting.

- Yes, the same logic can apply here.

[2020-07-08 09:37] SoVDH commented on #18
Yes indeed, this is saved now :-)

[2020-07-08 09:37] #18 closed, assigned to nobody

[2020-07-08 09:39] niconoe commented on #20
Hey @timadriaens: do you have a shapefile at hand with the those "Atlantic" vs "Continental" domains?

[2020-07-08 15:25] timadriaens commented on #20
on our gis server (which you can access through the citrix workspace), under S:\Europa\Natuur_Bos\BiogeoRegions. I uploaded a clip on github for Belgium of the 2016 layer we used for the manageability maps.

[2020-07-09 15:04] peterdesmet commented on #10
Note to self: 1) add footer and 2) consider layout where all controls are on the side. Screenshot based on moving things in Chrome Developer Tools:

![trias_risk_map](https://user-images.githubusercontent.com/600993/87056525-0f451780-c206-11ea-9777-c21e931df626.png)

[2020-07-09 15:09] peterdesmet commented on #16
That is fine by me, I would even suggest to label this issue as `wontfix` and close it. Most of the original suggestions in this issue (showing all regions) have been reverted anyway and the click part doesn't contribute much. Issue https://github.com/trias-project/risk-maps/issues/15 is a bit more bothersome.

[2020-07-09 16:54] timadriaens commented on #15
you could simply do that on the shapefile itself in arcgis, with the merge polygon function

[2020-07-10 07:13] niconoe commented on #16
Perfect, I indeed do plan to tackle #15 soon!

[2020-07-10 07:13] #16 closed, assigned to nobody

[2020-07-10 12:39] #15 closed, assigned to niconoe

[2020-07-14 07:54] niconoe commented on #20
Done!

[2020-07-14 07:54] #20 closed, assigned to nobody

[2020-07-14 07:55] niconoe commented on #4
Mechanism in place, and two overlays (ecoregions + bioregions) already implemented. Please create new issues if other overlays are needed (and if possible, provide a data source for those)

[2020-07-14 07:55] #4 closed, assigned to niconoe

[2020-07-14 07:56] niconoe commented on #7
We now have the process/shared drive in place.

[2020-07-14 07:56] #7 closed, assigned to niconoe

[2020-07-14 07:57] niconoe commented on #12
Implemented

[2020-07-14 07:57] #12 closed, assigned to nobody

[2020-07-14 07:57] #17 closed, assigned to nobody

[2020-07-14 08:01] niconoe opened #25 "Switching overlays don't remove the previous one"
(but works fine if we go to "none" in between)

[2020-07-14 08:09] #25 closed, assigned to niconoe

[2021-01-21 16:33] amyjsdavis opened #28 "missing maps"
@niconoe: @SoVDH noticed that maps for 5281901 (Campylopus introflexus) are not showing on the viewer.  The geoTIFFS for this species are in the google drive folder you created for GeoTIFFs, but they are in  a subfolder I created for my last upload called PRA_Plants_noUnverified. (This upload addresses the issue of unverified occurrences that @damianooldoni discovered last summer). This folder con

[2021-01-21 16:39] DiederikStrubbe commented on #28
Thanks Amy!

Diederik

Op do 21 jan. 2021 5:33 p.m. schreef Amy JS Davis <notifications@github.com

[2021-01-22 10:34] niconoe commented on #28
Thanks for the report Amy!

Indeed, I think the cleanest solution is to just keep a single (root) folder, with all the maps that should be in the viewer, and only the maps that should be in the viewer. So, no duplicates and no subfolders. Is this okay for you? Don't hesitate to ping me once it's done and I'll quickly update the map viewer.

[2021-01-28 10:50] amyjsdavis commented on #28
@niconoe : apologies for the delay (I did not realize you had replied!). This works for me!  I will let you know when it's done. It should be later today.

[2021-01-28 12:21] amyjsdavis commented on #28
@niconoe : everything is now in the root folder. I've also added new risk maps. Thanks for your help!

[2021-01-28 12:21] #28 closed, assigned to nobody

[2021-01-29 11:17] niconoe commented on #28
@amyjsdavis @DiederikStrubbe @SoVDH:

I updated the app so it's in currently in sync with the root GeoTiff folder. Please test and report any issue!

[2021-03-16 08:06] amyjsdavis opened #31 "new maps"
@niconoe : I just pushed more maps to the GeoTiff folder. :-)

[2021-03-19 10:01] niconoe commented on #31
Thanks @amyjsdavis, I just deployed the updated version, don't hesitate if you have any issue!

[2021-03-19 10:01] #31 closed, assigned to nobody

[2021-03-19 10:05] niconoe commented on #10
Hey @peterdesmet (one year later already 😳)

I just updated the maps again. Since the app is apparently used and no new features were requested recently, I was wondering if we should finally style the page, issue a proper release and finally mention it on our webpage? What do you think?

[2021-03-19 10:12] SoVDH commented on #10
Hi Nico and Peter,
I feel that the site as it stands should not be 'officially released' at the moment. I would still like to keep it for internal use as the maps need to be included in risk assessment context or with accompanying information that is not ready at this stage for users. That's just my personal feeling ...

[2021-03-19 10:21] niconoe commented on #10
Thanks @SoVDH!

Indeed, I understand the concern. To me, it was more about the tool itself (like being able to tell on our page "we have build a map viewer used for the TriAS project") than the use you are doing of it (we should stay internal - not publicly announced as long as you wish).

Those are/were two different things in my mind. But I'm not sure anymore, and don't want to add confusion to

[2021-03-19 10:22] niconoe opened #33 "Show git revision on page (in footer?)"
That's always useful for traceability reasons (or just to check if a deployment was successful)

[2021-03-19 11:26] peterdesmet commented on #33
Yes please, if you give me the code I can incorporate it. Or should I just copy paste from CROW?

[2021-03-19 11:58] SoVDH commented on #10
Let's see what the others think about this. I'm not the only ones. ;-)

[2021-03-19 12:43] amyjsdavis commented on #10
I did not see the problem in releasing it as a map viewer for the TrIAS project. It is a part of the risk assessment process, not the full procedure. However, I defer to @SoVDH, who can certainly better anticipate the problems of doing this better than I. :-)

[2021-03-19 12:47] peterdesmet commented on #10
I would release it with a disclaimer. @amyjsdavis @SoVDH can you provide a short sentence that we can display at the top of the application. Something along the lines below:

[2021-03-19 13:59] peterdesmet opened #35 "Add disclaimer"
I would release it with a disclaimer. @amyjsdavis @SoVDH can you provide a short sentence that we can display at the top of the application. Something along the lines below:

_Originally posted by @peterdesmet in https://github.com/trias-project/risk-maps/issues/10#issuecomment-802809047_

[2021-03-19 14:02] peterdesmet commented on #33
Nico, the boilerplate code is here:

https://github.com/trias-project/risk-maps/blob/a6839755eed18e6d5459fe25342a864aba75b76b/src/App.vue#L17-L20

[2021-03-19 14:03] peterdesmet commented on #35
Note to self once I have the sentence, insert here and remove `d-none`:

https://github.com/trias-project/risk-maps/blob/a6839755eed18e6d5459fe25342a864aba75b76b/src/components/Home.vue#L3-L5

[2021-03-19 14:21] peterdesmet commented on #10
Before:

![b0cdf29f-2283-4b29-b4c5-c92f1054b021](https://user-images.githubusercontent.com/600993/111792380-7bfbd000-88c4-11eb-9caf-093c735181ae.png)

After:

![5fb6d190-3569-45ed-996b-34c2a8383dc4](https://user-images.githubusercontent.com/600993/111794592-ae0e3180-88c6-11eb-80a0-387eaab95310.png)

[2021-03-19 14:21] #10 closed, assigned to peterdesmet

[2021-03-19 14:46] amyjsdavis commented on #35
@SoVDH : what about stating something like: " This map viewer currently only communicates one part of the risk assessment process and should not be used for policy making"

[2021-03-19 15:00] timadriaens commented on #35
imo there should be a little more than a disclaimer if the maps are released beyond the people that risk assess. It should at least be explained somewehere what the 3 model types represent (with an info button perhaps?). "Modelled data" is also something that is not readily clear to everyone, as is "historical climate data". Also, if these maps "should not be used for policy making" then why did w

[2021-03-26 11:26] timadriaens opened #36 "overlay rivers and/or river basins"
for the sake of having some more information on riparian and aquatic IAS, I think it would be nice to have some overlay maps regarding the hydrographical network. Rivers and canals people can see if they zoom in, but being able to put the river basins in Belgium on the risk map would be very informative. Ijzer, Schelde, Maas and Rein are of course very big delineations, it would be nice to have so

[2021-03-26 11:31] peterdesmet commented on #36
If these data are available, @niconoe should be able to add these. @timadriaens which file should we use: https://www.eea.europa.eu/data-and-maps/data/wise-wfd-spatial-3

[2021-03-29 13:56] timadriaens commented on #36
the 2016 one

[2021-03-29 14:14] timadriaens commented on #36
Although this layer is already something, it is of course very 'low resolution' (Schelde, Maas, Rein). In fact, we would need a little bit more detail to make them really useful for end-users. Something that corresponds to the main river basins. What we would need is the following maps:

- [ ] [Vlaamse Hydrografische Atlas: VHA-bekkens](http://www.geopunt.be/catalogus/datasetfolder/07ed9e60-214f-4

[2021-03-30 13:27] niconoe commented on #36
Thanks for the request, @timadriaens!

I had a quick look and already have some questions:

- In terms of user interface, is it okay if it uses the same system/logic than the current overlays (ecoregions/bioregions): only one overlay at once, zone name appear on mouse hover, ...?
- Should the two files above (Flanders/Wallonia) be aggregated and appear within the same overlay?
- For the Flanders f

[2021-03-30 13:49] timadriaens commented on #36
great! Some responses:

- yes the same logic is perfectly fine, just an overlay cf. the bioregions, zones appearing on mouse hover
- the two files should indeed be aggregated unless we can find a layer of the belgian "bassins versants" somewhere (but I was unable to find one on the various EU, Belgian and regional geoportals)
- For Flanders, the level we need is the `bekken.shp` (and the column "B

[2021-03-30 14:19] niconoe commented on #36
Cool! In the meantime I received the walloon data in my mailbox, I'll merge those and update the viewer soon!

[2021-04-09 10:23] niconoe commented on #36
@timadriaens: that's now implemented, can you have a look?

[2021-04-09 10:50] timadriaens commented on #36
Looking good!

[2021-04-09 10:55] #33 closed, assigned to niconoe

[2021-04-09 11:31] timadriaens commented on #36
One small comment perhaps @niconoe "drainage basins" is a less used term over here, I would simply go for "river basins"

[2021-04-09 11:44] niconoe commented on #36
Good to know, I'll update that!

[2021-04-20 11:44] peterdesmet commented on #35
Text by @qgroom:

[2021-04-20 11:54] #35 closed, assigned to amyjsdavis, SoVDH

[2021-05-06 08:34] niconoe opened #38 "Occurrence maps for species without risk modelling"
Request from May 6th meeting:

- Show more species, not only the ones we have GeoTiff for.
- Occurrence data would still originates in the same data cube (=show all occurrences from the cube)
- Occurrences would be filtered: only show 1976-2020
- Need a user-friendly way to announce to users which species has risk maps or not

[2021-05-06 08:53] niconoe commented on #38
(should it be on this map or not - still in discussion)

[2021-05-06 11:08] peterdesmet opened #39 "Reduce shown occurrences to 1976-2020"
The cube contains more, but the modelled data is using that time range.

[2021-05-06 11:14] peterdesmet commented on #38
Decided to:

- Indeed expand the list to all species in the cube (= all species of the unified checklist that have occurrences in Belgium).
- Allow user to limit list to those species that have models. I suggest a checkbox
- Allow user to limit list based on kingdom. That aspect will be added in the next cube: https://github.com/trias-project/occ-cube-alien/issues/32. I suggest an additional dropd

[2021-05-06 11:37] qgroom opened #40 "Source datasets should be listed somewhere"
The source datasets should be listed somewhere. I assume this will be the same ones as for the cube.
Ultimately a dynamic sources citation would be best, but a list will do for now.

[2021-05-07 11:13] niconoe commented on #40
For the occurrence data, could the cube be listed as a source? If so, wouldn't that indirectly references all primary sources?

[2021-05-07 11:18] peterdesmet commented on #40
Yeah, I think we can cite the cube: https://doi.org/10.5281/zenodo.4299976. The cube itself cites the two GBIF downloads.

[2021-05-07 11:28] qgroom commented on #40
Very indirectly. I don't see where the cube is citing the occurrence data at all!

[2021-05-07 11:31] damianooldoni commented on #40
![image](https://user-images.githubusercontent.com/33662631/117443464-77ed4580-af38-11eb-993c-a549be09c751.png)

in _Related identifiers_.

[2021-05-07 11:40] qgroom commented on #40
Wow! Who would know to look there!
I don't think that really gives credit to the data providers.
Couldn't the risk maps harvest that DOI and make the link on the website? Preferably actually listing the top 10 contributors.
You might think I'm being picky, but I get a lot of blowback from scientist at the Garden and from citizen scientists that they are not given sufficient recognition.

[2021-05-07 12:49] niconoe commented on #40
Yeah, I understand the concerns about recognition!

I never tried, but I guess by following DOIs and using Zenodo's API we could retrieve the indirect contributions as structured data, to be presented on the website. That would be ideal, because:

- Fully dynamic, so always up-to-date (if the raw data sources changes) and without the risk of forgetting someone
- Could be presented quite visibly on

[2021-05-07 13:02] peterdesmet commented on #40
@niconoe @qgroom it might not be super visible to a human, but the good thing is that at least it's machine readable: https://zenodo.org/record/4299976/export/dcite4#.YJU6MWYza88:

[code]

[2021-05-19 07:32] #36 closed, assigned to nobody

[2021-05-19 07:51] niconoe commented on #39
This was done in tandem with #38.

[2021-05-19 07:51] #39 closed, assigned to niconoe

[2021-05-19 07:53] niconoe commented on #21
I have to admit I am a bit lost in this huge thread going in multiple directions.

Can we close it, or are there still active action/discussion points?

[2021-05-19 07:54] niconoe commented on #38
I've now implemented this feature. Can you have a look at https://trias-project.github.io/risk-maps/ and give me feedback? Thanks!

[2021-05-19 07:58] peterdesmet commented on #21
I am fine with closing it. The scope of the current application should be kept limited, especially since the RShiny dashboards will likely provide much more.

[2021-05-19 07:58] #21 closed, assigned to niconoe

[2021-05-19 08:01] peterdesmet commented on #38
That looks cool! I like the emoji use. However, it seems that all taxa have 🌍 ? If so, I would remove that icon and only indicate if there is modelled data, which will improve readability.

[2021-05-19 08:48] niconoe commented on #38
Indeed, all taxa currently have occurrences.

I've build the system to be a bit more flexible than that and allows any modelled/occurrence data combination. That's why the user interface currently reflects that. But I agree about your usability concern, I'll fix that!

[2021-05-19 09:35] niconoe commented on #38
Done!

@SoVDH , @timadriaens , @qgroom : does that work for you?

[2021-05-20 11:15] SoVDH commented on #38
Waw, Super cool ! Thanks a lot @niconoe :-)

[2021-05-21 10:00] #38 closed, assigned to niconoe